
.fontello-facebook:before { content: '\e804'; } /* '' */
.fontello-facebook-squared:before { content: '\e800'; } /* '' */
.fontello-gplus:before { content: '\e801'; } /* '' */
.fontello-linkedin:before { content: '\e802'; } /* '' */
.fontello-pinterest-circled:before { content: '\e805'; } /* '' */
.fontello-twitter:before { content: '\e803'; } /* '' */
.fontello-vimeo-squared:before { content: '\e806'; } /* '' */
.fontello-youtube:before { content: '\e807'; } /* '' */